@font-face {
    font-family: Airstream;
    src: url("http://real-andrew-souva.github.io/sagway-n-usa/fonts/Airstream.ttf");
}

body {
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: small;
}

h1, h2 {
    color: #c60;
    border-bottom: thin dotted #888
}

h1 {
    font-size: 220%;
}

h2 {
    font-family: Airstream , Geneva, Arial, sans-serif;
    font-size: 130%;
    font-weight: normal;
}

p {
    font-family: 'Roboto', Geneva, Arial, sans-serif;
}

blockquote {
    font-style: italic;
}

#index_title {
    font-family: Pacifico, Geneva, Arial, sans-serif;
}
